name: Veracode Build Dart Code Package

on:
  workflow_call:
    inputs:
      repository:
        required: true
        type: string
      ref:
        required: true
        type: string
      token:
        required: true
        type: string
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        repository: ${{ inputs.repository }}
        ref: ${{ inputs.ref }}
        token: ${{ inputs.token }}

    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        java-version: 1.8

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Setup Flutter SDK
      uses: flutter-actions/setup-flutter@v2
      with:
        channel: stable
        version: 3.0.2

    - name: Build Flutter App
      run: flutter build apk --debug
        
    - uses: actions/upload-artifact@v3
      with:
        name: veracode-artifact
        path: build/app/outputs/flutter-apk
